# Permissão do Claude
.claude/

# Ambiente virtual Python
.venv/

# Arquivos compilados Python
__pycache__/
*.pyc

# Modelos treinados
models/*.pt
models/*.pth
models/oof*/*.pt

# Vídeos
videos/

# Resultados
results/

# Dataset gerado
datasets/ 
keyframes/

# CSVs gerados
*.csv

# Configurações do VS Code
.vscode/